<nav class="site-nav" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <ul id="menu-main-navigation" class="menu">
    <li class="menu-item">
      <a href="{{ '/artikel/' | relative_url }}" itemprop="url">
        <span itemprop="name">Blog-Artikel</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="{{ '/notizen/' | relative_url }}" itemprop="url">
        <span itemprop="name">Notizen</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="{{ '/rezepte/' | relative_url }}" itemprop="url">
        <span itemprop="name">Rezepte</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="{{ '/about/' | relative_url }}" itemprop="url">
        <span itemprop="name">Über mich</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="{{ '/portfolio/' | relative_url }}" itemprop="url">
        <span itemprop="name">Portfolio</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="{{ '/kontakt/' | relative_url }}" itemprop="url">
        <span itemprop="name">Kontakt</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="{{ '/support/' | relative_url }}" itemprop="url">
        <span itemprop="name">Unterstütze mich</span>
      </a>
    </li>
    {% comment %}
    <li class="menu-item">
      <a href="https://drtom0.myds.me/photo/#!Albums" itemprop="url">
        <span itemprop="name">Fotogallerie</span>
      </a>
    </li>
    {% endcomment %}
  </ul>
</nav>
